---
BasedOnStyle: Microsoft
ColumnLimit: 0
UseTab: AlignWithSpaces
InsertNewlineAtEOF: true
PointerAlignment: Left
NamespaceIndentation: All
FixNamespaceComments: false
BreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
SkipMacroDefinitionBody: true
Cpp11BracedListStyle: false
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
BraceWrapping:
  AfterUnion: true