---
BasedOnStyle: Microsoft
ColumnLimit: 0
UseTab: AlignWithSpaces
PointerAlignment: Left
NamespaceIndentation: All
BreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
SkipMacroDefinitionBody: true
Cpp11BracedListStyle: false
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true